BlogApplication.WebSite/Connected Services/BlogApplicationService/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlogApplication.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlogApplication.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PageOfProductServiceIn">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="TextFilter" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageOfProductServiceIn" nillable="true" type="tns:PageOfProductServiceIn" />
  <xs:complexType name="BaseIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RowsPerPage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseIn" nillable="true" type="tns:BaseIn" />
  <xs:complexType name="PageOfProductServiceOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseOut">
        <xs:sequence>
          <xs:element minOccurs="0" name="ListOfProducts" nillable="true" type="tns:ArrayOfPageOfProductServiceOutItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageOfProductServiceOut" nillable="true" type="tns:PageOfProductServiceOut" />
  <xs:complexType name="BaseOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseOut" nillable="true" type="tns:BaseOut" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfPageOfProductServiceOutItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageOfProductServiceOutItem" nillable="true" type="tns:PageOfProductServiceOutItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageOfProductServiceOutItem" nillable="true" type="tns:ArrayOfPageOfProductServiceOutItem" />
  <xs:complexType name="PageOfProductServiceOutItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageOfProductServiceOutItem" nillable="true" type="tns:PageOfProductServiceOutItem" />
</xs:schema>